* {
  margin: 0;
}

.container {
  width: 1230px;
  margin: auto;
}

.header .topbar {
  background-color: #333333;
}

.header .topbar .container {
  height: 40px;
  /* nav height */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style-type: none;
}

.topbar ul li {
  display: inline-block;
  font-size: 0.8rem;
  color: #ffffff;
  opacity: 0.6;
  margin: 0 1px;
}

.topbar ul li:not(:first-child) {
  border-left: 1px solid #ffffff21;
  padding-left: 0.5rem;
}

.topbar ul li:hover {
  opacity: 1;
}

.topbar .fa-shopping-cart {
  font-size: 1rem;
}

/* header-menu */

.header-menu .container {
  height: 90px;
  /* menu height */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu input {
  width: 280px;
  height: 40px;
}

.header-menu ul li {
  display: inline-block;
  margin: 0 8px;
}

.header-menu ul li:hover {
  color: #ff6700;
}

.header-menu img {
  width: 56px;
}

/* home */

.home {
  height: 462px;
  position: relative;
}

.home > ul {
  height: 100%;
  width: 160px;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #75757585;
  padding: 0 34px;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.home .banner {
  height: 100%;
}

.home img {
  height: 100%;
}

.home ul ul {
  display: none;
}

.home ul li/* :hover */ ul {
  color: #000;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  height: 100%;
  position: absolute;
  left: 228px;
  top: 0px;
  display: block;
  width: 1003px;
}

.home ul ul li {
  height: calc(100% / 6);
  width: 240px;
  /* border: 1px solid; */
  box-sizing: border-box;
  /* 标志用delete */
}

.home ul ul li:nth-of-type(n + 7) {
  margin-left: 240px;
}

.home ul ul li:nth-of-type(n + 13) {
  margin-left: 480px;
}

.home ul ul li:nth-of-type(n + 19) {
  margin-left: 720px;
}

.home ul ul li:nth-of-type(6n + 7) {
  margin-top: -462px;
}
/* home-banner */

.home-banner {
  height: 170px;
  margin: 16px 0 20px;
  display: flex;
  justify-content: space-between;
}

.home-banner div {
  height: 100%;
}

.home-banner div img {
  height: 100%;
}

.home-banner .banner0 ul {
  background-color: #5f5750;
  width: 230px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.home-banner .banner0 ul li {
  width: 32%;
  position: relative;
}

.home-banner .banner0 ul li > span {
  display: block;
  color: #ffffff;
  opacity: 0.8;
  font-size: 0.8rem;
  margin: 16px 0;
}

.home-banner span.fa {
  display: block;
  font-size: 1.8rem;
}

.home-banner .banner0 ul li :hover {
  opacity: 1;
}

.home-banner .banner0 ul li::before {
  background-color: #665e57;
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.home-banner .banner0 ul li::after {
  background-color: #665e57;
  content: "";
  width: 1px;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
